extends layout.pug

block content
  div.container-fluid
    h1 Create A Room!
      
    form(method='POST' action='')
      div.form-group
        label(for='topic')
        input#topic.form-control(type='text', placeholder='Is trump shit? etc.', name='topic', value=(undefined===room ? '' : room.topic))
      button.btn.btn-primary(type='submit') Submit
    
    if errors
      ul 
        for error in errors
          li(style="list-style: none;")
            div.alert.alert-danger!= error.msg

    
